<!-- File: modules/custom/alien_dashboard/templates/alien-dashboard.html.twig -->

	<div class="container-fluid px-4">
		<h1 class="mt-4">Trip Ticket Dashboard</h1>
		<ol class="breadcrumb mb-4">
			<li class="breadcrumb-item active">GSD Monitoring</li>
		</ol>
		<div class="row">
			
		<!-- Button trigger modal -->

			<div class="col-xl-3 col-md-6">
				<div class="card bg-primary text-white mb-4">
					<div class="card-body">
						<div class="d-flex flex-column align-items-center">
							<span class="h5 mb-2">Pending Trips</span>
						  <span class="display-4">{{ num_pending_tickets }}</span>
						</div>
					</div>
				</div>
					<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

			</div>
			<div class="col-xl-3 col-md-6">
				<div class="card bg-warning text-white mb-4">
					<div class="card-body">
						<div class="d-flex flex-column align-items-center">
							<span class="h5 mb-2">Completed</span>
							<span class="display-4">0</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-md-6">
				<div class="card bg-success text-white mb-4">
					<div class="card-body">
						<div class="d-flex flex-column align-items-center">
							<span class="h5 mb-2">Cancelled</span>
							<span class="display-4">0</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-md-6">
				<div class="card bg-danger text-white mb-4">
					<div class="card-body">
						<div class="d-flex flex-column align-items-center">
							<span class="h5 mb-2">On-Trip</span>
							<span class="display-4">0</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="card mb-4">
			<div class="card-header bg-primary">
				<p class="text-start text-white">
					<i class="fas fa-table me-1 text-white"></i>
					Trip Ticket
				</p>
			</div>
			<div class="card-body">
				{{ drupal_view('list_of_tripticket', 'block_1') }}
			</div>
		</div>
	
		
	
		<div class="modal-dialog modal-dialog-centered" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

	</div>

<!-- Modal -->
